<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="demoSuite">
    <test name="demoTest">

        <groups>
            <run>
                <include name="cleanBrowser"/>
            </run>
        </groups>

        <classes>
            <class name="Tests.AuthTests"></class>
            <class name="Tests.CheckNumberOfTopicsTests"></class>
        </classes>

    </test>
</suite>